* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #d3def3;
  height: 5%;
}

.byta {
  text-decoration: none;
  color: #333;
  font-size: 160%;
  padding: 3px;
}

.byta:hover {
  background-color: rgba(444, 444, 444, 0.4);
}

.horizontal-menu {
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  display: flex;
  padding: 10px;
}

footer {
  background-color: #eff2fa;
  padding: 10px 0;
  text-align: center;
  margin-top: 10px;
  bottom: 0;
  top: 50%;
  width: 100%;
}

.nere {
  display: flex;
  justify-content: space-around;
}

.info {
  flex: 1;
}

.info h3 {
  color: #333;
}

.info p {
  color: #666;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .info h3 {
    font-size: 80%;
  }

  .info p,
  .platsinfo {
    font-size: 70%;
  }
}

.platsinfo {
  color: #666;
  margin: 5px 0;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c7d6f0;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b4caf3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #e9eef9;
}

@media screen and (max-width: 600px) {
  .menyval {
    display: none;
  }

  .hamburger-menu {
    --x-width: calc(4 * 1.41);
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 2;
    cursor: pointer;
  }

  .hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
  }

  .hamburger-menu:has(input:focus-visible)::before
    .hamburger-menu:has(input:focus-visible)::after
    .hamburger-menu
    input:focus-visible {
    border: 1px solid #333;
    box-shadow: 0 0 0 1px #333;
  }

  .hamburger-menu::before,
  .hamburger-menu input,
  .hamburger-menu::after {
    content: "";
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
      rotate 200ms ease-in-out, translate 200ms ease-in-out;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 -2px;
  }

  .hamburger-menu:has(input:checked)::after {
    width: var(--x-width);
    rotate: -45deg;
    translate: 0 2px;
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    transition: translate var(--animation-timing);
    padding: 30px 20px;
    translate: -100%;
    background-color: #d3def3;
    position: absolute;
    font-size: 20px;
    z-index: 1;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    background-color: #9fb6e1;
    padding: 5px;
  }
  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
}
@media screen and (min-width: 600px) {
  .menu {
    display: none;
  }
}
