* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #d3def3;
  height: 50px;
  padding-top: 5px;
}

.byta {
  text-decoration: none;
  color: #333;
  font-size: 25px;
  padding: 3px;
}

.byta:hover {
  background-color: rgba(444, 444, 444, 0.4);
}

.horizontal-menu {
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  display: flex;
  padding: 10px;
}

footer {
  background-color: #eff2fa;
  padding: 10px 0;
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.info {
  flex: 1;
  padding: 0 20px;
}

.info h3 {
  color: #333;
}

.info p {
  color: #666;
  margin: 5px 0;
}

.platsinfo {
  color: #666;
  margin: 5px 0;
  text-decoration: none;
}
