body {
  background-color: #b4c0ed;
}
.bakgrund {
  position: relative;
  width: 100%;
  opacity: 30%;
  z-index: -1;
}
.huvudrubrik {
  display: flex;
  justify-content: center;
}
.logga {
  position: absolute;
  width: 20%;
  top: 7%;
}
.val {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  margin-top: -35%;
}
@media screen and (max-width: 768px) {
  .sekundär-rubrik {
    font-size: 5vw;
  }
}
.val-bild {
  border: solid black 2px;
  width: 90%;
  margin: 0 5%;
}
.sekundär-rubrik {
  color: white;
  font-size: 3vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  text-decoration: none;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vidare {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .val {
    display: grid;
  }
  .bakgrund {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}
