.bakgrund {
  position: relative;
  width: 100%;
  opacity: 60%;
  z-index: -1;
}

.huvudrubrik {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
